Skip
  to
  content
  Pull
  requests
  Issues
  Marketplace
  Explore
  MirgalolUrakov
  machadop1407
  /
  react-router-v6
  Public
  Code
  Issues
  Pull
  requests
  Actions
  Projects
  Wiki
  Security
  Insights
  react-router-v6/src/App.css
  machadop1407
  machadop1407
  first
  commit
  Latest
  commit
  on
  .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  font-size: 15px;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
