Skip
  to
  content
  Pull
  requests
  Issues
  Marketplace
  Explore
  MirgalolUrakov
  machadop1407
  /
  react-router-v6
  Public
  Code
  Issues
  Pull
  requests
  Actions
  Projects
  Wiki
  Security
  Insights
  react-router-v6/src/App.css
  machadop1407
  machadop1407
  first
  commit
  Latest
  commit
  on
  .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
