@import "./fonts.css";

body {
  font-family: "Poppins", "Mada", "Roboto", sans-serif;
  margin: 0;
}

.header {
  height: 80px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.header_content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Mada";
  font-size: 20px;
}

.logo_text {
  padding-left: 9px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
}

ul {
  display: flex;
  text-align: center;
  list-style-type: none;
  font-weight: 400;
  font-family: "Mada";
  font-size: 20px;
  color: #0d1222;
}
li {
  padding-right: 40px;
}

.search_bar {
  height: 48px;
  border: 1.5px solid rgb(125, 125, 125);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.search_bar input {
  font-family: "Mada";
  font-weight: 400;
  font-size: 18px;

  border: none;
}
/*{
  font-family: "Mada";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
*/
